header {
  height: 90px;
}

#logo-wrapper {
  display: inline-block;
  font-size: 0.55em;
  width: 10%;
}

#logo {
  display: inline-block;
  max-width: 75px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 5px;
}

nav {
  display: inline-block;
  height: 80;
  vertical-align: top;
  width: 79%;
  margin-left: 70px;
  margin-top: 10px;
}

nav a {
  display: inline-block;
  width: 16%;
  height: 100%;
  line-height: 80px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

