body {
  margin: 0;
}

header {
  height: 80px;
}

#logo-wrapper {
  display: inline-block;
  font-size: 0.55em;
  width: 25%;
}

#logo {
  display: inline-block;
  max-width: 75px;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 0.8em;
  }
}

#title {
  display: inline-block;
  vertical-align: top;
}

#spaced {
  letter-spacing: 1px;
}

#subtitle {
  font-size: 0.8em;
}

nav {
  display: inline-block;
  height: 80;
  vertical-align: top;
  width: 74%;
}

nav a {
  display: inline-block;
  width: 22%;
  height: 100%;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
}

#loading-container {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 300px;
  transform: translate(-150px, 0);
  
  text-align: center;
}

#loading-container img {
  width: 170px;
  z-index: 1;
}

#loading-bar {
  height: 20px;
  border: 1px solid;
}

#progress {
  width: 0%;
  height: 100%;
  background: blue;
  transition: 0.2s;
}

.bubble {
  position: absolute;
  width: 15%;
  padding-bottom: 15%;
  border-radius: 50%;

  animation: wobble 2s infinite;
}

#yellow {
  top: 25%;
  left: 15%;
  background-color: yellow;
}

#pink {
  top: 25%;
  right: 15%;
  background-color: red;
}

#blue-wrapper {
  position: absolute;
  bottom: 2%;
  left: 50%;

  width: 15%;
  height: 0;
  padding-bottom: 15%;
  display: flex;

  transform: translate(-50%, 0);
}

#blue {
  border-radius: 50%;
  background-color: blue;
  width: 100%;
  padding-bottom: 100%;
  display: inline-block;

  animation: wobble 2s infinite;
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#traces {
  background-color: #999;
  width: 100%;
  height: 600px;
  position:relative;
  border-style: solid;

  transform-origin: 0 0;
}

#traces img {
  height: 10%;
}

.spacer {
  display: inline-block;
}

/*
 *Videos page
 * */

#videos {
  position: relative;
  width: 100%;
}

#videos-wrapper {
  display: flex;
}

iframe {
  width: 33.33vw;
  height: 18.74vw;
}

.video-overlay {
  top: 0;
  position: absolute;
  width: 33.33vw;
  height: 18.74vw;
  opacity: 0;
  font-size: default;
  background: blue;
  cursor:pointer;
}

.video-overlay:hover {
  transition: 0.5s;
  opacity: 0.8;
  z-index: 10;
}
