<header>
  <div id="logo-wrapper">
    <img id="logo" src="images/faireerrance-logo.png">
    <div id="title">
      <h1><span id="spaced">FAIRE ERRANCE</span><br />
      <span id="subtitle">(C'est un peu ressentir)</span></h1>
    </div>
  </div>

  <nav>
    <a href="fleuve.html">FLEUVE</a> 
    <a href="froidure.html">FROIDURE</a> 
    <a href="resistance.html">RESISTANCE</a> 
    <a href="apparition.html">APPARITION</a> 
    <a href="videos.html">VIDEOS</a> 
    <a href="errances.html">ERRANCES</a> 
  </nav>
</header>
