---
layout: default
---
<section id="errances">
  <article>
  {% for group in page.links %}
    <p><span style="color: {{ group.color }};">&#9679; </span>{{ group.categorie }}</p>
      {% for element in group.elements %}
        {% assign link_page = site.pages | where:"name",element.page | first %}
        <a href="{{ link_page.url }}">{{ link_page.date }} {{ link_page.location }} 
          {% for author in link_page.authors %}
            {{ author }} 
          {% endfor %}</a>
      {% endfor %} 
  {% endfor %}
  </article>
  
  <img src="images/carte.png">
</section>
